<!DOCTYPE html>
<html class="h-100 translated-ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/blog.ico" mce_href="~/blog.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("headers", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top shadow">
        <div class="container-xl">
            <a href="@Url.Action("Index","Home",new { area=""})" class="navbar-brand"><img src="/IconSvg/blog.png" class="mr-2" style="width:36px;height:36px" alt="blog" /></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    @if (Session["userId"] == null && Request.Cookies["userId"] == null)
                    {
                        <li class="nav-item">@Html.ActionLink("首页", "Index", "Home", new { }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("个人主页", "UserDetails", "Home", new { }, new { @class = "nav-link" })</li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarArticleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            文章
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarArticleDropdown">
                            @Html.ActionLink("新建文章", "CreateArticle", "Article", new { }, new { @class = "dropdown-item" })
                            @*@Html.ActionLink("文章列表", "ArticleList", "Article", new { }, new { @class = "dropdown-item" })*@
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("添加文章类型", "CreateCategory", "Article", new { }, new { @class = "dropdown-item" })
                            @*@Html.ActionLink("文章类型列表", "CategoryList", "Article", new { }, new { @class = "dropdown-item" })*@
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            用户
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                            @*@Html.ActionLink("修改资料", "EditInfo", "Home", new { }, new { @class = "dropdown-item" })*@
                            @Html.ActionLink("修改密码", "EditPwd", "Home", new { }, new { @class = "dropdown-item" })
                            @*<div class="dropdown-divider"></div>
                                @Html.ActionLink("添加文章类别", "CreateCategory", "Article", new { }, new { @class = "dropdown-item" })*@
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-auto" action="/Home/Search" method="get">
                    <div class="input-group">
                        <input id="searchWord" name="searchWord" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜索</button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav mr-0">
                    @if (Session["userId"] == null && Request.Cookies["userId"] == null)
                    {
                        <li class="nav-item">@Html.ActionLink("注册", "Register", "Home", new { }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("登陆", "Login", "Home", new { }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <form action="/Home/Logout" method="post">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">注销 @(Session["loginName"] == null ? Request.Cookies["loginName"].Value : Session["loginName"])</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    @*<footer class="footer py-3 bg-light">
            <div class="container-xl">
                <span class="text-muted">&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</span>
            </div>
        </footer>*@
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            // 解决bootstrap下拉菜单第一次点击无反应问题
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>
</html>
