@model BlogSystem.MVCSite.Models.ArticleViewModels.CreateArticleViewModel
@using BlogSystem.DTO
@{
    ViewBag.Title = "创建文章";
}

<div class="container-xl">
    <div class="row">
        <div class="col-md-3">
            <div class="whiteBlock px-0">
                <div class="text-center">

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            保存
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <button class="dropdown-item" data-toggle="modal" data-target=".modalCreateArticle">提交到博客</button>
                            <button class="dropdown-item" id="AddCookieBtn">提交到临时草稿</button>
                            <button class="dropdown-item" id="CookieContentBtn">查看临时草稿内容</button>
                        </div>
                    </div>
                    <button class="btn btn-outline-info" onclick="ReFreshCategory('@ViewBag.UserId')">刷新分类</button>
                </div>
                <hr />
                <div>
                    <p class="ml-3">目录</p>
                    <div class="overflow-auto max-vh-65">
                        <div id="custom-toc-container" previewcontainer="false"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="whiteBlock vh-85">
                <div id="editor">
                    <textarea style="display:none;"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modalCreateArticle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加文章</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { placeholder = "请在这里输入文章标题", @class = "form-control text-center" } })
                        <textarea id="IntroContent" name="IntroContent" placeholder="文章简介，也可以不写哦" maxlength="200" class="mt-2 form-control"></textarea>
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        <div class="form-group mt-3" id="categoriesDiv"></div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" id="AddArticleBtn" class="btn btn-success" data-dismiss="modal">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modalCookie" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">消息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalCookieText" class="text-center"></p>
                    <p class="text-center text-muted"><small>(提交新文章成功后将清空临时草稿)</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" id="modalCookieBtnFirst" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-success" id="modalCookieBtn" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

</div>
@section headers{
    <link href="/Plugin/editor.md/css/editormd.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Plugin/editor.md/editormd.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script>
        var Editormd;
        $(function () {
            ReFreshCategory('@ViewBag.UserId', true);//第一次获取所有分类，成功不弹提示

            Editormd = editormd("editor", {
                width: "100%",
                height: "100%",
                tocContainer: "#custom-toc-container",
                tocDropdown: false,
                path: "/Plugin/editor.md/lib/"
            });

            $("#AddCookieBtn").on("click", function () {
                CheckCookie(false);
            });

            $("#AddArticleBtn").on("click", function () {
                AddArticle();
            });

            $("#CookieContentBtn").on("click", function () {
                CookieContent();
            });

            $("#modalCookieBtnFirst").on("click", function () {
                //删除旧的编辑器
                Editormd.editor.remove();
                //新建带有cookie值的编辑器
                $.getScript("/Plugin/editor.md/editormd.min.js", function () {
                    $(".vh-85").append("<div id=\"editor\"><textarea style=\"display:none;\"></textarea></div>");
                    //新建一个已赋值草稿的编辑器
                    editormd("editor", {
                        markdown: $.cookie("CreateArticle"),
                        width: "100%",
                        height: "100%",
                        tocContainer: "#custom-toc-container",
                        tocDropdown: false,
                        path: "/Plugin/editor.md/lib/"
                    });
                })
            });

            $("#modalCookieBtn").on("click", function () {
                //删除旧的cookie
                $.removeCookie("CreateArticle");
                //再保存新的cookie
                $.cookie("CreateArticle", $(".editormd-markdown-textarea").val());
            });

            CheckCookie(true);//第一次检测提示是否调用

            $(window).bind('beforeunload', function () { return '您输入的内容尚未保存，确定离开此页面吗？'; });
        });

        function ReFreshCategory(userId, isFirst) {
            if (userId == '') {
                $(".toast-body").text("获取用户信息失败，请检查登陆状态");
                $(".toast").show();
                $(".toast").toast('show');
            }
            $.ajax({
                url: "/Article/GetMoreCategories",
                type: "get",
                dataType: "json",
                data: { userId },
                success: function (data) {
                    if (data.status == "ok") {
                        var categoriesHtml = "";
                        if (data.data.length != 0) {
                            for (var i = 0; i < data.data.length; i++) {
                                var tag = data.data[i];
                                categoriesHtml += '<span class="custom-control custom-checkbox d-inline mr-3"><input class="custom-control-input" type="checkbox" name="categoryIds" value="' + tag.Id + '" id="' + tag.Id + '" /><label class="custom-control-label" for="' + tag.Id + '">' + tag.BlogCategoryName + '</label></span>';
                            }
                        } else {
                            categoriesHtml += '<span class="text-black-50"><small>暂无分类，请在\'添加分类\'中添加。</small></span>';
                        }
                        $("#categoriesDiv").html(categoriesHtml);
                        if (isFirst == true) {

                        } else {
                            $(".toast-body").text('刷新成功！');
                            $(".toast").show();
                            $(".toast").toast('show');
                        }
                    } else if (
                        data.status == "fail") {
                        if (isFirst == true) {
                            var categoriesHtml = "";
                            categoriesHtml += '<span class="text-black-50"><small>暂无分类，请在\'添加分类\'中添加。添加完成后请点击\'刷新分类\'按钮获取。</small></span>';
                            $("#categoriesDiv").html(categoriesHtml);
                        } else {
                            $(".toast-body").text(data.result);
                            $(".toast").show();
                            $(".toast").toast('show');
                        }
                    }
                }
            })
        }

        function AddArticle() {
            //创建一个数组
            var categoryIds = new Array();
            //获取所有选中的分类
            var checkedCategoryIds = $("#categoriesDiv span input:checkbox:checked");
            if (checkedCategoryIds.length == 0) {
                //如果没有选中的元素
            } else {
                //TODO 可进行遍历操作
                $.each(checkedCategoryIds, function () {
                    categoryIds.push($(this).val());
                });
            }
            var title = $("#Title").val();
            var content = $(".editormd-markdown-textarea").val();
            var introContent = $("#IntroContent").val();
            $.ajax({
                url: "/Article/AddArticle",
                type: "post",
                dataType: "json",
                data: { title, content, introContent, categoryIds },
                success: function (data) {
                    if (data.status == "ok") {
                        //删除cookie信息
                        $.removeCookie("CreateArticle");
                        //跳转到文章详情页
                        $(window).unbind('beforeunload');
                        window.location ="http://"+ window.location.host + "/Article/ArticleDetails?id="+data.articleId;
                    } else if (data.status == "fail") {
                        $(".toast-body").text(data.result);
                        $(".toast").show();
                        $(".toast").toast('show');
                    }
                }
            })
        }

        function CheckCookie(isFirst) {//检测是否有cookie信息
            if ($.cookie("CreateArticle") != undefined) {//如果有草稿
                if (isFirst) {//第一次检测是否需要调用
                    $("#modalCookieBtnFirst").show();
                    $("#modalCookieBtn").hide();
                    $("#modalCookieText").text("检测到有未提交的文章，是否调用？");
                } else {//后续检测提示是否需要覆盖
                    $("#modalCookieBtn").show();
                    $("#modalCookieBtnFirst").hide();
                    $("#modalCookieText").text("检测到有未提交的文章，是否覆盖？");
                }
                $(".modalCookie").modal("show");
            } else {//没有草稿
                if (!isFirst) {//后续检测到没有草稿直接提交
                    $.cookie("CreateArticle", $(".editormd-markdown-textarea").val());
                    $(".toast-body").text("提交到临时草稿成功！");
                    $(".toast").show();
                    $(".toast").toast('show');
                }
            }
        }

        function CookieContent() {//查看草稿里的内容
            alert($.cookie("CreateArticle"));
        }
    </script>
}
