@model BlogSystem.MVCSite.Models.ArticleViewModels.EditArticleViewModel
@using BlogSystem.DTO
@{
    ViewBag.Title = "编辑文章";
    ArticleDto articleDto = ViewBag.Article;
}

<div class="container-xl">
    <div class="row">
        <div class="col-md-3">
            <div class="whiteBlock px-0">
                <div class="text-center">
                    <button class="btn btn-outline-success" data-toggle="modal" data-target=".modalCreateArticle">保存</button>
                    <button class="btn btn-outline-info" onclick="ReFreshCategory('@ViewBag.UserId')">刷新分类</button>
                </div>
                <hr />
                <div>
                    <p class="ml-3">目录</p>
                    <div class="overflow-auto max-vh-65">
                        <div id="custom-toc-container" previewcontainer="false"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="whiteBlock vh-85">
                <div id="editor">
                    <textarea style="display:none;">@articleDto.Content</textarea>
                </div>
            </div>
        </div>
    </div>

    <div id="checkedCategories">
        @for (int i = 0; i < articleDto.CategoryIds.Length; i++)
        {
            <input type="hidden" name="@articleDto.CategoryIds[i]" value="@articleDto.CategoryIds[i]" />
        }
    </div>

    <div class="modal fade modalCreateArticle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">编辑文章</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input class="form-control text-center text-box single-line" data-val="true" data-val-required="标题 字段是必需的。" id="Title" name="Title" placeholder="请在这里输入文章标题" type="text" value="@articleDto.Title">
                        <textarea id="IntroContent" name="IntroContent" placeholder="文章简介，也可以不写哦" maxlength="200" class="mt-2 form-control">@articleDto.IntroContent</textarea>
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        <div class="form-group mt-3" id="categoriesDiv"></div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="EditArticle()" class="btn btn-success" data-dismiss="modal">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section headers{
    <link href="/Plugin/editor.md/css/editormd.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="/Plugin/editor.md/editormd.min.js"></script>
    <script type="text/javascript">
        ////页面关闭提示
        //window.onbeforeunload = function (e) {
        //    e = e || window.event;
        //    // 兼容IE8和Firefox 4之前的版本
        //    if (e) {
        //        e.returnValue = '关闭提示';
        //    }
        //    // Chrome, Safari, Firefox 4+, Opera 12+ , IE 9+
        //    return true;
        //};

        $(function () {
            ReFreshCategory('@ViewBag.UserId', true);//第一次获取所有分类和勾选信息，成功不弹提示

            editormd("editor", {
                width: "100%",
                height: "100%",
                tocContainer: "#custom-toc-container",
                tocDropdown: false,
                path: "/Plugin/editor.md/lib/"
            });

            $(window).bind('beforeunload',function(){return '您输入的内容尚未保存，确定离开此页面吗？';});
        });

        function ReFreshCategory(userId, isFirst) {
            if (userId == '') {
                $(".toast-body").text("获取用户信息失败，请检查登陆状态");
                $(".toast").show();
                $(".toast").toast('show');
            }
            $.ajax({
                url: "/Article/GetMoreCategories",
                type: "get",
                dataType: "json",
                data: { userId },
                success: function (data) {
                    if (data.status == "ok") {
                        var categoriesHtml = "";
                        if (data.data.length != 0) {
                            var checkedCategoryObjs = $("#checkedCategories input[type=hidden]");
                            var checkedCategoryIds = new Array();
                            $.each(checkedCategoryObjs, function (i, val) {
                                checkedCategoryIds.push(val.value);
                            })
                            for (var i = 0; i < data.data.length; i++) {
                                var tag = data.data[i];
                                if ($.inArray(tag.Id, checkedCategoryIds) != -1) {
                                    categoriesHtml += '<div class="custom-checkbox form-check form-check-inline pl-4"><input class="custom-control-input" type="checkbox" checked name="categoryIds" value="' + tag.Id + '" id="' + tag.Id + '" /><label class="custom-control-label" for="' + tag.Id + '">' + tag.BlogCategoryName + '</label></div>';
                                } else {
                                    categoriesHtml += '<div class="custom-checkbox form-check form-check-inline pl-4"><input class="custom-control-input" type="checkbox" name="categoryIds" value="' + tag.Id + '" id="' + tag.Id + '" /><label class="custom-control-label" for="' + tag.Id + '">' + tag.BlogCategoryName + '</label></div>';
                                }
                            }//循环生成所有分类
                        } else {
                            categoriesHtml += '<span class="text-black-50"><small>暂无分类，请在\'添加分类\'中添加。</small></span>';
                        }
                        $("#categoriesDiv").html(categoriesHtml);
                        if (isFirst == true) {//第一次页面加载不弹出提示

                        } else {
                            $(".toast-body").text('刷新成功！');
                            $(".toast").show();
                            $(".toast").toast('show');
                        }
                    } else if (
                        data.status == "fail") {
                        if (isFirst == true) {
                            var categoriesHtml = "";
                            categoriesHtml += '<span class="text-black-50"><small>暂无分类，请在\'添加分类\'中添加。添加完成后请点击\'刷新分类\'按钮获取。</small></span>';
                            $("#categoriesDiv").html(categoriesHtml);
                        } else {
                            $(".toast-body").text(data.result);
                            $(".toast").show();
                            $(".toast").toast('show');
                        }
                    }
                }
            })
        }

        function EditArticle() {
            //创建一个数组
            var categoryIds = new Array();
            //获取所有选中的分类
            var checkedCategoryIds = $("#categoriesDiv div input:checkbox:checked");
            if (checkedCategoryIds.length == 0) {
                //如果没有选中的元素
            } else {
                //TODO 可进行遍历操作
                $.each(checkedCategoryIds, function () {
                    categoryIds.push($(this).val());
                });
            }
            var title = $("#Title").val();
            var content = $(".editormd-markdown-textarea").val();
            var introContent = $("#IntroContent").val();
            var articleId = '@articleDto.Id';
            $.ajax({
                url: "/Article/EditArticle",
                type: "post",
                dataType: "json",
                data: { articleId, title, content, introContent, categoryIds },
                success: function (data) {
                    if (data.status == "ok") {
                        //跳转到文章详情页
                        $(window).unbind('beforeunload');
                        window.location = "http://" + window.location.host + "/Article/ArticleDetails?id=" + data.articleId;
                    } else if (data.status == "fail") {
                        $(".toast-body").text(data.result);
                        $(".toast").show();
                        $(".toast").toast('show');
                    }
                }
            })
        }
    </script>
}
